.section_doacao{   
    width: 90%;
    margin: 5%;
    display: flex;
    flex-direction: column;
}
.doacao_forms{
    margin-left: 20%;
}
.doacao_forms_foto{
    margin-left: 30%;
    padding: 10px;
}
.doacao_forms_enviar{
    margin-left: 33%;
    padding: 10px;
}

.enviar{
    margin-bottom: 10px;
    margin-left: 33%ß;
}

.enviar:hover{
    background-color: chartreuse;
    color: black;
}

.id_imagem{
  text-transform: uppercase;
}
input#id_imagem{
    border-radius: 5px;
    padding: 21px;
    width: 70%;
}

#id_descricao{
    border: 1px solid black;
    background: rgb(231, 243, 231);
    color: black;
    padding: 10px;
    width: 50%;
    margin-right: 40%;
    height: 200px;
    outline: solid 1px #7ED956;
    text-align: center;
} 

@media(max-width: 538px){

    .section_doacao {
        width: 45%;
        margin: 0% auto;
        display: flex;
        flex-direction: column;
    }
    .doacao_forms {
        margin-left: -38%;
        display: flexbox;
    }
    .formConfig {
        background-color: white;
        border: 3px rgb(212, 212, 212) solid;
        border-radius: 0 20px 20px 0;
        margin-bottom: 19px;
        padding: 9px;
        width: 55%;
    }

    .doacao_forms_foto {
        margin-left: -9%;
    }

    .doacao_forms_enviar {
        margin-left: 10%;
        padding: 9px;
        width: 90%;
    }

    .botaoDoacao {
        margin: 0% auto auto 20%;
        height: 59px;
        width: 174px;  
    }
    #id_descricao{
        margin-right: 0%;
        margin-left: -62%;
    height: 81px;
    width: 186%;
    }
    .facaSuaDoacao {
        font-size: 120%;
    }

    .ImagemDoacao {
        margin: 4% auto auto 11%;
    }
    .enviar {
        margin-bottom: 17px;
        width: 100%;
        margin-left: 5%;
    }
}