.fundo_login{
    margin:0px;
    padding:0px;
    background-size: cover;
    background-image: url(../static/images/pordosol.jpg);
    background-repeat: no-repeat;
}


.form-user{
    
    position: center;
	top:50%;
	left: 50%;
	transform: translate(120%, 10%);
	width:400px;
	height: 500px;
	box-sizing: border-box;
	background:rgba(0,0,0,0.5);
    padding: 40px; 
}



