.icone-buger{
    display: none;
}
@media(max-width: 854px){
    .logo {
        position: absolute;
        margin: -80px auto auto 15px;
        z-index: 1;
        border: 2px solid black;
        border-radius: 10px;
    }

    .titulo{
        margin: -100px auto auto 190px; 
    }

    .menu a {
        color: white;
        font-size: 15px;
        padding: 10px;
        text-decoration: none;
    }

    .tituloDoMapa{
        font-size: 30px;
    }

    .textpAbaixoDoTitulo{
         font-size: 6px;
    }

    .caixaDeTexto{
        margin-top: 30%;
        font-size-adjust: initial;
    }
}


@media(max-width: 690px){
    .menu a {
        color: white;
        font-size: 13px;
        padding: 10px;
        text-decoration: none;
    }

    .caixaDeTexto{
        margin-top: 35%;
        font-size: 12px;
    }

    .tituloDoMapa{
        font-size: 20px;
    }

    .imagemFundo{
        height: 450px;
    }

    .caixa_div{
        margin-top: -80px;
    }

}

@media(max-width: 590px){
    .menu a {
        color: white;
        font-size: 11px;
        padding: 10px;
        text-decoration: none;
    }

    .caixaDeTexto{
        margin-top: 35%;
        font-size: 12px;
    }

    .tituloDoMapa{
        font-size: 20px;
    }

}

@media(max-width: 538px){
    .menu a {
        color: white;
        font-size: 9px;
        padding: 10px;
        text-decoration: none;
    }

    .titulo{
        margin: -100px auto auto 166px; 
    }

    .caixaDeTexto{
        margin-top: 45%;
        font-size: 12px;
        width: 60%;
        margin-left: 28%;
    }

    .tituloDoMapa{
        font-size: 20px;
        margin-left: 20%;
    }

}

@media(max-width: 492px){
    .logo {
        margin: -120px auto auto 15px;
        height: 25%;
    }

    .menu{
        display: none;
    }
    
    .icone-buger{
        display: block;
        width: 55px;
        margin-top: -70px;
        margin-left: 76%;
    }

    .titulo {
        width: 50%;
        margin: -130px auto auto 130px; 
    }

    .textoAbaixoDoTitulo{
        font-size: 100%;
        margin-top: 25%;
        margin-left: 20%;
    }

    #saibamais p {
        margin-left: 12%;
    }

    #divisao{
    width: 100%;
    }

    .botao{
     width:35%;
     margin-bottom: 5%;
    }
    .caixa_div{
     margin-left: 2%;
    }
    .titulo_caixa{
        width: 100%;
    }

    .caixaDeTexto{
        margin-top:86%;
        font-size: 12px;
        font-size: 60%;
    }

    .tituloDoMapa{
        font-size: 20px;
    }

    .servico_mapa img{
        width: 41%;
        font-size: 40%;
    }

    #servicos img {
        margin-left: 29%;
    }

    .servico_doacao img{
        width: 41%;
        margin: 10% auto auto 7%;
    }

    .clique{
        font-size: 60%;
    }

    footer div img{
    align-items: center;
    }

}

@media(max-width: 492px){
    .servico_doacao{
        width: 34%;
        margin: 10% auto auto 9%;
    }

    .servico_mapa{
        width: 36%;
        margin: 10% auto auto 56%;
    }
}