#menu {
    visibility: hidden;
}

.titulo2{
    display: none;
}
.logo2{
    display: none;
}


input#pac-input.controls{
    z-index: 0;
    position: absolute;
    top: 4%;
    left: 40%;
    border: limegreen 1px solid;
    border-radius: 100px;
    width: 25%;
    box-shadow: rgba(0,0,0,.4) 0px 3px 5px 0px;
    height: 5%;
    margin-top: 1%;
    text-align: center;
    font-weight: bold;
}


#menu{
	width: 35px;
	height: 30px;
	margin: 30px 0 20px 20px;
	cursor: pointer;
}
.bar{
	height: 5px;
	width: 100%;
	background-color: lightgreen;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}
#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}
.nav li a{
	color: #fff;
	text-decoration: none;
}
.nav li a:hover{
	font-weight: bold;
}
.nav li{
	list-style: none;
	padding: 16px 0;
}
.nav{
	padding: 0;
	margin: 0 20px;
	transition: 0.3s ease;
	display: none;
}
.menu-bg, #menu-bar{
	top: 0;
	left: 0;
	position: absolute;
}
.menu-bg{
	z-index: 1;
	width: 0;
	height: 0;
	margin: 30px 0 20px 20px;
	background: radial-gradient(circle,limegreen,limegreen);
	border-radius: 50%;
	transition: 0.3s ease;
}
#menu-bar{
	z-index: 3;	
}
.change-bg{
	width: 550px;
	height: 540px;
    transform: translate(-60%,-30%);
    z-index: 2;	
}
.change .bar{
	background-color: white;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
	display: block;
}

.icone-buger{
    display: none;
}


@media(max-width: 854px){
    .logo {
        position: absolute;
        margin: -80px auto auto 15px;
        z-index: 1;
        border: 2px solid black;
        border-radius: 10px;
    }

    .titulo{
        margin: -100px auto auto 190px; 
    }

    .menu a {
        color: white;
        font-size: 15px;
        padding: 10px;
        text-decoration: none;
    }

    .tituloDoMapa{
        font-size: 30px;
    }

    .textpAbaixoDoTitulo{
         font-size: 6px;
    }

    .caixaDeTexto{
        margin-top: 30%;
        font-size-adjust: initial;
    }
}

@media(max-width: 690px){
    header{
        border-bottom: 3px solid black;
    }
    .lc_div{
        margin-left: -13px;
    }

    .menu a {
        color: white;
        font-size: 13px;
        padding: 10px;
        text-decoration: none;
    }

    .caixaDeTexto{
        margin-top: 35%;
        font-size: 12px;
    }

    .tituloDoMapa{
        font-size: 20px;
    }

    .imagemFundo{
        height: 450px;
        border-top: 4px solid rgb(19, 61, 1);
    }

    .caixa_div{
        margin-top: -80px;
    }

    .footIcones {
        margin: 4% 0% 0% -1%;
    }
    .footTrashWay {
        margin: 0% 0% 0% 36%;
    }
    .footQuemSomos {
        margin: 0.5% 0 0px 75%;
    }

    .h2somos {
        margin: 34px;
    }

    .somosoqsomos{
        display: block;
        margin-bottom: -19%;
        padding-bottom: 0px;
    }
    .seremos{
        width: 90%;
        height: 208px;
        margin-bottom: 0px;
        
    }

    .seremos2{
        width: 90%;
        padding: 0px;
    }


}

@media(max-width: 590px){
    .menu a {
        color: white;
        font-size: 11px;
        padding: 10px;
        text-decoration: none;
    }

    .caixaDeTexto{
        margin-top: 35%;
        font-size: 12px;
    }

    .tituloDoMapa{
        font-size: 20px;
    }



}

@media(max-width: 538px){
    .menu a {
        color: white;
        font-size: 9px;
        padding: 10px;
        text-decoration: none;
    }

    .titulo{
        margin: -100px auto auto 166px; 
    }

    .caixaDeTexto{
        margin-top: 45%;
        font-size: 12px;
        width: 60%;
        margin-left: 28%;
    }

    .tituloDoMapa{
        font-size: 20px;
        margin-left: 20%;
    }

}

@media(min-width: 538px){
    #btncadastro{
        margin-left: -10px;
    }
    #login a{
        margin-left: 57.4px;
    }
}


@media(max-width: 492px){
    input#pac-input.controls{
    margin-top: 12px;
    width: 65%;
    margin-left: 10px;
    }
	.footQuemSomos p {
    font-size: 83%;
}
.footTrashWay p {
    font-size: 15pt;
}
.footIcones img {
    padding-left: 14%;
    height: 35px;
}
    .login_cadastro{
        margin-left: -15px; 
    }
    .btn_login {
        margin-left: 86px;
    }
    .titulo2{
        display: block;
    }
    .logo2{
        display: bock;
        width: 10%;
        height: 20%;
    }
    .logo {
        visibility: hidden;
    }

    .titulo {
        visibility: hidden;
    }

    .menu{
        display: none;
    }
    
    #menu{
        visibility: visible;
    }

    header {
        margin-top: 0px;
    }

    .textoAbaixoDoTitulo{
        font-size: 100%;
        margin-top: 30%;
        margin-left: 20%;
    }

    #saibamais p {
        margin-left: 12%;
    }

    #divisao{
    width: 100%;
    }

    .botao{
     width:35%;
     margin-bottom: 5%;
    }
    .caixa_div{
     margin-left: 2%;
    }
    .titulo_caixa{
        width: 100%;
    }

    .caixaDeTexto{
        margin-top:86%;
        font-size: 12px;
        font-size: 60%;
    }

    .tituloDoMapa{
        font-size: 20px;
        margin: 12% 0% 0% 25%;
    }

    .servico_mapa img{
        width: 41%;
        font-size: 40%;
    }

    #servicos img {
        margin-left: 29%;
    }

    .servico_doacao img{
        width: 41%;
        margin: 10% auto auto 7%;
    }

    .clique{
        font-size: 60%;
    }

    footer div img{
    align-items: center;
    }

}

@media(max-width: 492px){
    #servicos{
        display: block;
        margin: 0%;
    }
    .clique{
        margin-bottom: 10px;
    }
    .cortador{
        display: none;
    }
    .servico_doacao{
        width: 80%;
        height: 20%;   
        margin-left: 25%;  
        margin-bottom: 20px; 
    }

    .servico_mapa{
        width: 80%;
        height: 20%;
        margin-left: 25%;
        margin-bottom: 20px;
    }
}

@media(max-width: 400px){
    .textoConta {
        margin-left: 1%;
    }
  
 }

 @media(max-width: 300px){
  
 }


