html{
    scroll-behavior: smooth;
}
body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    border-top: 4px solid #7ED956;
}
/* HEADER */
header{
    border-top: 5px solid #7ED956;
    margin-top: 124px;
    width: 100%;
}

.logo {
    position: absolute;
    margin: -80px auto auto 153px;
    z-index: 1;
    border: 2px solid black;
    border-radius: 10px;
}

.titulo {
    position: absolute;
    margin: -100px auto 20px 326px
}

.menu {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 50%;
    margin-top: -40px;
    background-color: #7ED956;
    font-weight: bold;
}

.menu a {
    color: white;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
}

.menu a:hover {
    color: rgb(5, 34, 16);
}
/* FIM HEADER */

/* SECTION MAPA */

.parteDeCima {
    margin: auto 0 auto -8%;
}

.linhaCima{
    height: 5px;
    margin-top: 124px;
    justify-content: space-between;
    background-color: #B94D70;
}
.tituloDoMapa {
    color: white;
    margin-left: 43%;
    margin-top: 5%;
    position: absolute;
    text-shadow: rgba(0, 0, 0, .5) 3px 1px;
    z-index: 1;
    font-size: 230%;
}

.textoAbaixoDoTitulo {
    color: white;
    margin-left: 40%;
    font-size: 112%;
    margin-top: 12%;
    position: absolute;
    text-shadow: rgba(0, 0, 0, .5) 2px 1px;
    z-index: 1;
}

.caixaDeTexto {
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    position: absolute;
    width: 25%;
    height: 40px;
    margin-left: 47%;
    margin-top: 22%;
    background-color: rgb(3, 182, 3);
    box-shadow: rgba(0, 0, 0, .5) 4px 3px;
    border-radius: 50px;
    border: none;
    z-index: 1;
    text-shadow: black -1px 1px 1px;
}

.caixaDeTexto:hover {
    transition: 1s;
    background-color: green;
    cursor: pointer;
  }

.imagemFundo {
    filter: brightness(.4);
    width: 100%;
    height: 600px;
    background-image: url("../static/images/fundo-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* FIM SECTION MAPA */


/* SECTION SAIBAMAIS */
#saibamais{
    background-image: url('images/fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1%;

}

.p_titulo{
    font-size: 190%;
    color: white;
    margin-left: 25%;
}
.p_info{
    font-size: 110%;
    color: white;
    margin-left: 25%;
}
.botao {
    margin: 1.7% auto auto 60%;
    border: none;
    background-color: green;
    text-align: center;
    width: 13%;
    height: 45px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    box-shadow: black -3px 5px 5px;
}

.botao:hover {
    transition: 1s;
    background-color: rgb(0, 71, 0);
}
/* FIM SECTION SAIBAMAIS */

/* SECTION SERVICOS */
.cortador {
    background-color: grey;
    border-radius: 50px;
    padding: 44% 0.1% 0 0px;
    margin: 0% auto;
    border-radius: 50px;
    height: 1px;
}
#servicos{
  width: 80%;
  margin: 0% auto; 
  display: flex; 
  text-align: center;
  margin-bottom: 20px; 
}

#servicos p {
    color: white;
    font-weight: bold;
}

.servicosp{
    color:whitesmoke;
    font-size: 180%;
    text-transform: uppercase;
    font-weight: bold;
}

.servico_mapa{
    width: 30%;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0% auto;
    background-color: limegreen;
}

.servico_doacao{
    width: 30%;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0% auto; 
    background-color: limegreen;
}
.divcliquemapa{ 
    display: flex;
    flex-direction: column;
}
.divcliquemapa img{
    width: 60%;
    height: 50%;
    margin: 0% auto;
    margin-bottom: 20px;
}
.clique {
    cursor: pointer;
    font-size: 14pt;
    font-weight: bold;
    color: white;
    background-color: green;
    box-shadow: black 1px 2px 8px;
    border: none;
    text-align: center;
    width: 50%;
    height: 10%;
}
/* FIM SECTION SERVICOS */

footer {
    background-color: black;
    color: white;
    display: flex;
    height: 75px;
    width: 100%;
    justify-content: space-between;
}
.foot p{
    font-size: 30px;
    margin-left: -90px;
    margin-top: 13px;
}


.foot img {
    padding: 10px;
   width: 50px;
   height: 50px;
}
/* MAPA */
#map {
    height: 700px;
    width: 100%;
}

.icone {
    margin: auto auto auto 165px;
}

#pac-input::placeholder {
    font-weight: 100;
    text-align: center;
}

/* DIVISORIA */
#divisao{
    margin: 0%;
    width: 100%;
}
.divisoria {
    background-color: grey;
    border-radius: 50px;
    height: 1px;
    margin: 81px 192px auto 170px;

}
.caixa_div {
    margin-left: 43%;
    padding: 20px;
}
.titulo_caixa{
    border: black 1px solid;
    height: 65px;
    text-align: center;
    width: 179px;
}

/* PÁGINA DE DOAÇÃO */

.fundoDoacao {
    margin-top: 0%;
    width: 100%;
    height: 600px;
    background-image: url("../static/images/fundo-doação.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.fundoDoacao:hover {
    transition: 1s;
    filter: brightness(.5);
}

#tituloDoacao ,a{
    text-align: center;
    text-decoration: none;
}

.ImagemDoacao {
    position: absolute;
    color: white;
    margin: 10% auto auto 50%;
    z-index: 2;
    font-size: 170%;
}

.facaSuaDoacao {
    text-shadow: black 3px 4px 3px;
}

.textoImagemDoacao {
    font-size: 65%;
    text-shadow: black 3px 4px 3px;
    line-break: auto;
}

.botaoDoacao {
    background-color: red;
    border-style: none;
    margin: 5% auto auto 31%;
    height: 59px;
    width: 167px;
    color: white;
    font-size: 70%;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 5px 6px 5px black;
    cursor: pointer;
}

.botaoDoacao:hover {
    transition: .5s;
    background-color: rgb(219, 0, 0);
}

input:focus, button:focus {
    outline: none;
}

.primeiroFormulario {
    margin-left: 20%;
    display: flex;
}

.segundoFormulario {
    margin-left: 20%;
    display: flex;
}

.terceiroFormulario {
    margin-left: 34%;
}

.formConfig {
    background-color: white;
    border: 3px rgb(212, 212, 212) solid;
    border-radius: 0 20px 20px 0;
    margin-bottom: 15px;
    padding: 9px;
    width: 30%;
}

i  {
    padding: 10px;
    background: limegreen;
    color: white;
    min-width: 30px;
    text-align: center;
    border-radius: 20px 0 0 20px;
    height: 19px;
  }

  span {
      display: inline-grid;
  }

  textarea {
    border: 1px solid black;
    background: rgb(231, 243, 231);
    color: black;
    padding: 10px;
    width: 500px;
    height: 300px;
    outline: solid 1px #7ED956;
  }

  textarea::placeholder {
    text-align: center;
  }

  .botaoImagem {
    background-color: limegreen;
    border-style: none;
    margin: 5% auto auto 35%;
    height: 59px;
    width: 167px;
    color: white;
    font-size: 100%;
    font-weight: bold;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .botaoImagem:hover {
    transition: 1s;
    background-color: green;
  }

  .enviar {
    margin: auto auto auto 34%;
    background-color:  rgb(0, 163, 0);
    color: white;
    padding: 16px 7px;
    border: none;
    cursor: pointer;
    width: 34%;
    opacity: 0.9;
    font-weight: bold;
  }

  .enviar:hover {
      transition: 1s;
      background-color: green;
  }

/* PÁGINA SOBRE */

.FundoSobre {
    position: absolute;
    color: rgb(116, 18, 18);
    margin: 10% auto auto 50%;
    z-index: 2;
    font-size: 170%;
}

/* Produtos Doado Section Doacao */
.produtos_doados{
    margin: 1%;
    text-align: center;

}
.nossos_produtos img{
    width: 20%;
    height: 20%;
}

#produtosdoadosimg{
    width: 50%;
    height: 50%;
}

#msgdoacao{
    width: 100%;
    text-align: center;
}

#btn_list{
    background-color: rgb(255, 9, 58);
    padding: 10px;
    color: white;
    font-size: 30px;
}

#btn_list:hover{
    background-color: rgb(12, 167, 51);
    cursor: pointer;
}

.somosoqsomos{
    display: flex;
}
.seremos{
    margin: 0% auto;
    border: 1px solid rgb(146, 211, 15);
    width: 30%;
    height: 50%;
}
