{% extends 'layout.html'%}
{% load static %}
{% block content %}
<script src="https://kit.fontawesome.com/43e94ea53a.js" crossorigin="anonymous"></script>

<section>
    <div class="ImagemDoacao">
        <h2 class="facaSuaDoacao">FAÇA SUA DOAÇÃO</h2>
        <p class="textoImagemDoacao">A TrashWay é uma empresa que presa pelo desenvolvimento sustentável <br> e que busca ajudar a comunidade no manoseio correto do lixo. Deste modo, <br> não há forma melhor de se impedir isto senão doando para outra pessoa! <br> Muitas pessoas se utilizam dos materiais e peças!</p>
        <a href="#tituloDoacao"><button class="botaoDoacao">Vamos doar? <img src="../static/images/coracao.png" alt=""></button></a>
    </div>
    
<div class="fundoDoacao"></div>

</section>
    <nav class="divisoria"></nav>

<section style="margin-top: 5%; margin-bottom: 8%;">
    <h1 id="tituloDoacao">FAÇA SUA DOAÇÃO AQUI</h1>

    <link rel="stylesheet" href="{% static 'formsdoacao.css' %}">

    
    <form method="POST" id="formulario_doacao" enctype='multipart/form-data'>

      {% csrf_token %}
      <div class="doacao_forms">
        <i class="fas fa-signature"></i><input placeholder="Seu nome" type="text" name="nome" maxlength="140" required="" id="id_nome" class="formConfig">
        <i class="fas fa-city"></i><input placeholder="Sua Cidade" type="text" name="cidade" maxlength="140" required="" id="id_cidade" class="formConfig">
      </div>     
      
      <div class="doacao_forms">
        <i class="fas fa-envelope-square"></i><input placeholder="Seu Email" type="email" name="email" maxlength="254" required="" id="id_email" class="formConfig">
        <i class="fas fa-envelope-square"></i><input placeholder="Seu Telefone" type="text" name="telefone" maxlength="11" required="" id="id_telefone" class="formConfig" >
      </div>

      <div class="doacao_forms">
        <label for="id_produto">Produto:</label>
        <select name="produto" required="" id="id_produto">
            <option value="" selected="">---------</option>
            <option value="MV">Moveis</option>
            <option value="ED">Eletronico</option>
        </select>
        <label for="id_imagem"  class="id_imagem">Imagem:</label><input type="file" name="imagem" accept="image/*" required="" id="id_imagem">
      </div>

      <div class="doacao_forms">
        <input  placeholder="Descreva o estado de conservação do seu produto" type="text" name="descricao" maxlength="50" required="" id="id_descricao">
      </div>
        <button class="enviar">Enviar</button>
    </form>

    {% if msg %}
        <h2>{{msg}}</h2>
    {% endif %}
    <!-- <form>
        <div class="primeiroFormulario">
            <i class="fas fa-signature"></i>
            <input class="formConfig" type="text" placeholder="Seu nome"><p style="visibility: hidden;">vazio</p>
            <i class="fas fa-file-signature"></i>
            <input class="formConfig" type="text" placeholder="Seu sobrenome">
        </div>
    </form>

    <form>
        <div class="segundoFormulario">
            <i class="fas fa-envelope-square"></i>
            <input class="formConfig" type="text" placeholder="Seu e-mail"><p style="visibility: hidden;">vazio</p>
            <i class="fas fa-city"></i>
            <input class="formConfig" type="text" placeholder="Sua cidade">
        </div>
    </form>

    <form>
        <div class="terceiroFormulario">
            <span>
                <textarea id="" cols="30" rows="10" placeholder="Descreva o estado de conservação do seu produto"></textarea>
                <button class="botaoImagem">Imagem da doação</button>
                <p style="color: grey; text-align: center; font-size: 75%;">Clique acima para colocar a imagem da sua doação</p>
            </span>
        </div>
    </form>

    <button class="enviar">ENVIAR</button> -->
</section>

{% endblock %}