{% extends 'layout.html'%}
{% load static %}
{% block content %}
        <section>
            <div class="parteDeCima">
                <h2 class="tituloDoMapa">Comece agora sua pesquisa!</h2>
                <p class="textoAbaixoDoTitulo">A TrashWay visa facilitar o manoseio do lixo com um mapa <br> prático onde mostra a localização de ecopontos no estado de São Paulo. <br> Comece pesquisando agora mesmo o ponto de coleta mais próximo da sua casa!</p>
                <a href="../mapa/"><button class="caixaDeTexto">Clique aqui e comece a pesquisar!</button></a>
            </div>
            <div class="imagemFundo">
            </div>
        </section>
        
        <div id="divisao">
            <nav class="divisoria"></nav>
            <div class="caixa_div">
                <div class="titulo_caixa">
                 <h3>SAIBA MAIS</h3>
                </div>
            </div>
        </div>
    
        <section id="saibamais">
                <p class="p_titulo">Lorem Ipsum</p>
                <p class="p_info">Dolor sit amet consectetur adipisicing elit. Odit similique quaerat totam optio ullam,magni dolore quam enim possimus pariatur maiores, sit dicta, expedita corporis modi at? Accusantium, ipsa nihil?</p>
                <button class="botao">Saiba Mais</button>
        </section>
        
        
        <nav class="divisoria"></nav>
        <div class="caixa_div">
            <div class="titulo_caixa">
            <h3>SERVIÇOS</h3>
            </div>
        </div>
       
        <section id="servicos">
                <div class="servico_doacao">
                    <p style="font-size: 18pt; font-weight: bold;">Doações</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos rem possimus amet animi consequuntur ducimus, error, porro dicta nam pariatur aspernatur quam? Minus maxime similique cum qui quaerat soluta est.</p>
                    <img src="{% static 'images/donation.png' %}" alt="" >
                    <button class="clique" >CLIQUE AQUI</button>
                </div>
                <div class="servico_cacamba">
                    <p style="font-size: 18pt; font-weight: bold">Caçamba Compartilhada</p>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores tempora, cum illum doloremque optio harum fugit voluptate voluptatem nesciunt ratione facere omnis nam est. Molestiae dolore assumenda culpa maiores dicta.</p>
                    <img src="{% static 'images/cacamba.png' %}" alt="" >
                    <button class="clique" >CLIQUE AQUI</button>
                </div>
                <div class="servico_mapa">
                    <p style="font-size: 18pt; font-weight: bold">Mapa</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ea, ullam tenetur debitis aperiam corrupti, ipsum repellat delectus ipsa aliquam quisquam ad. Cum, eveniet non. Facere fugiat libero sit hic.</p>
                    <img src="{% static 'images/map.png' %}" alt="" >
                    <button class="clique">CLIQUE AQUI</button>
                </div>
        </section>
{% endblock %}