{% extends 'layout.html'%}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'cadastro.css' %}">

<section id="login">
  <form method="post">
    {% csrf_token %}
    <div class="lc_div">
      <label for="email">email  :</label>
      <input id="id_email" name="email" type="email" placeholder="         Digite seu Email" required>
    </div>

    <div class="lc_div">
      <label for="senha">senha   :</label>
      <input id="id_senha" name="senha" type="password" placeholder="         Digite sua Senha" required>
    </div>
    
    <div class="login_cadastro">
      <input class="btn_login" type="submit" value="ENTRAR">
    </div>
    <a id="btncadastro" href="/cadastro/">FAÇA SEU CADASTRO</a>
  </form>
  <p>{{msg}}</p>
</section>

{% endblock %}