{% extends 'layout.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'produtos.css' %}">
</head>
<body class="fundaofoto">
    <div class="container">
        <div class="box">
            <div class="ImgBox">
                    <img src="{% static 'images/produto1.jpg' %}" alt="" >

            </div>
                <div class="details">
                    <div class="content">
                        <h2>Armário</h2>
                        <style>
                            span{font-weight: bold;}</style>
                        <span>Armário para a sala em ótimo estado, disponível para doação na região da Lapa</span>
                        <a href="../login/" target="_blank"><button class="clique" >Eu quero!</button></a>
                    </div>
                
                
            </div>
            
        </div>
        <div class="box">            <div class="ImgBox">
                <img src="{% static 'images/produto9.jpg' %}" alt="" >

        </div>
            <div class="details">
                <div class="content">
                    <h2>Guarda-Volumes</h2>
                    <style>
                        span{font-weight: bold;}</style>
                    <span>Guarda-volumes para a sala em ótimo estado, disponível para doação na região do Tatuapé</span>
                    <a href="../login/" target="_blank"><button class="clique" >Eu quero!</button></a>
                </div>
            
            
        </div></div>
        <div class="box">            <div class="ImgBox">
                <img src="{% static 'images/produto2.jpg' %}" alt="" >

        </div>
            <div class="details">
                <div class="content">
                    <h2>Armário</h2>
                    <style>
                        span{font-weight: bold;}</style>
                    <span>Armário disponível para retirada na região de São Bernardo do Campo</span>
                    <a href="../login/" target="_blank"><button class="clique" >Eu quero!</button></a>
                </div>
            
            
        </div></div>
        <div class="box">            <div class="ImgBox">
                <img src="{% static 'images/produto10.jpg' %}" alt="" >

        </div>
            <div class="details">
                <div class="content">
                    <h2>Guarda-Roupa</h2>
                    <style>
                        span{font-weight: bold;}</style>
                    <span>Guarda-Roupa em ótimo estado, disponível para retirada na região da Lapa</span>
                    <a href="../login/" target="_blank"><button class="clique" >Eu quero!</button></a>
                </div>
            
            
        </div></div>
        <div class="box">            <div class="ImgBox">
                <img src="{% static 'images/produto5.jpg' %}" alt="" >

        </div>
            <div class="details">
                <div class="content">
                    <h2>Cofre</h2>
                    <style>
                        span{font-weight: bold;}</style>
                    <span>Cofre de metal, disponível para retirada na região da Paulista</span>
                    <a href="../login/" target="_blank"><button class="clique" >Eu quero!</button></a>
                </div>
            
            
        </div></div>
        <div class="box">            <div class="ImgBox">
                <img src="{% static 'images/produto25.jpg' %}" alt="" >

        </div>
            <div class="details">
                <div class="content">
                    <h2>Armário de escritório</h2>
                    <style>
                        span{font-weight: bold;}</style>
                    <span>Armário em mogno disponível para retirada na região de Moema</span>
                    <a href="../login/" target="_blank"><button class="clique" >Eu quero!</button></a>
                </div>
            
            
        </div></div>
        <div class="box">            <div class="ImgBox">
                <img src="{% static 'images/produto15.jpg' %}" alt="" >

        </div>
            <div class="details">
                <div class="content">
                    <h2>Armário</h2>
                    <style>
                        span{font-weight: bold;}</style>
                    <span>Armário para escritório em perfeito estado! Disponível para retirada na região de do Brás</span>
                    <a href="../login/" target="_blank"><button class="clique" >Eu quero!</button></a>
                </div>
            
            
        </div></div>
        <div class="box">            <div class="ImgBox">
                <img src="{% static 'images/produto12.jpg' %}" alt="" >

        </div>
            <div class="details">
                <div class="content">
                    <h2>Armário</h2>
                    <style>
                        span{font-weight: bold;}</style>
                    <span>Armário para sala em bom estado, disponível para retirada na região de Pirituba</span>
                    <a href="../login/" target="_blank"><button class="clique" >Eu quero!</button></a>
                </div>
            
            
        </div></div>



    </div>
    
</body>
</html>


{% endblock %}