{% extends 'layout.html'%}
{% load static %}
{% block content %}
<nav class="divisoria"></nav>
<section>
        <h2>Sobre</h2>
    <p>
        O descarte irregular de lixo não é apenas um problema visual. O acúmulo de resíduos e rejeitos 
        pode propiciar o aumento de doenças e da proliferação 
    </p>
    <p>
        São Paulo é a maior cidade da américa latina. Segundo dados da AMLURB 
        (Autoridade Municipal de Limpeza Urbana) em 2019 São Paulo possuía mais de 2,5 mil 
        pontos de descarte irregular de lixo.
    </p>
    <p>
       Para o combate dessa prática não basta aplicar multas aos infratores. É preciso dar opções pro cidadão
       poder fazer uso de seus direitos e assim cumprir com seus deveres. E é nesse ponto que a Trash Way pode 
       ajudar
    </p>
    <p>
        A cidade de São Paulo tem um total de 102 Ecopontos. 
        De acordo com a prefeitura, podem ser definidos como locais de entrega voluntária de pequenos volumes de entulho (até 1 m³), 
        grandes objetos (móveis, poda de árvores etc.) e resíduos recicláveis. 
        O cidadão poderá dispor o material gratuitamente em caçambas distintas para cada tipo de resíduo. 
    </p>
    <p>
        Ainda sim, nem todos sabem da existência dos ecopontos. Além disso, ainda seria preciso pagar o transporte.
        A TRASH-WAY vem para facilitar a sua vida. Inserindo sua localização você descobre quais são os Ecopontos 
        mais próximos e acessíveis a você.
    </p>
    <p>
        E caso você não tenha como levar, ainda oferecemos duas opções. Se seu objeto ainda pode ser usado, 
        pra que jogar fora em vez de doar? Divulgue para interessados. Além disso é possível fazer doação de 
        caçambas para que mais pessoas que não teriam condições de financiar uma, possam fazer o descarte correto.
    </p>
    <p>
        As empresas que realizam a doação podem fazer uso do entulho e do material reciclável de forma mais prática.
        Sem ter que retirar da prefeitura, é possível contatar o usuário diretamente
    </p>
    <p>
        Venha já alimentar a sua esperança!!
    </p>

</section>

{% endblock %}