{% extends 'layout.html'%}
{% load static %}
{% block content %}
<center>
<h2>Quem Somos ?</h2>
<p>Jovens Estudantes, Apaixonados por Tecnologia, Dispostos em ajudar o mundo.</p>
</center>
<section class="somosoqsomos">
    <div class="seremos">
        <p>projeto</p>
            <img src="{% static 'images/esta.png' %}" alt="">
    </div>
    <div class="seremos">
     <p>Felipe Daniel</p>
     <p>Daniel</p>
     <p>Mayara</p>
    </div>
    <div class="seremos">
            <p>APOIO</p>
        <img src="{% static 'images/mastertech.png' %}" alt="">
    </div>
</section>

{% endblock %}