{% extends 'layout.html'%}
{% load static %}
{% block content %}
<center>
<h2 class="h2somos">Quem Somos ?</h2>
<h3 class="somosp">Jovens Estudantes, Apaixonados por Tecnologia, Dispostos em ajudar o mundo.</h3>
</center>
<section class="somosoqsomos">
    <div class="seremos">
        <h2>PROJETO</h2>
            <img class="facebook" src="{% static 'images/esta.png' %}" alt="">
    </div>
    <div class="seremos2">
        <p>EQUIPE</p>
     <h3>Felipe Daniel de Souza</h3>
     <h3>Daniel Pereira da Silva</h3>
     <h3>Mayara Assef Cotrim</h3>
     <h3>Lucas Felipe Campos Miranda</h3>
     <h3>Alexandre Jácobo Goebbels</h3>
    </div>
    <div class="seremos">
            <h2>APOIO</h2>
        <img  class="master" src="{% static 'images/mastertech.png' %}" alt="">
    </div>
</section>

{% endblock %}